<div id="dashboard">
  <div id="main-content">
    <div id="topbar">
      <cv-avatar *ngIf="agent" size="medium" [url]="agent.avatar"></cv-avatar>
      <span *ngIf="agent" class="name">{{agent.firstname}} {{agent.lastname}}</span>
      <span class="spacer"></span>
      <span class="notification" (click)="showContactBar = !showContactBar">
        <cv-icon name="cv-bell" size="large"></cv-icon>
        <span *ngIf="hasNotifications()" class="marker"></span>
      </span>
    </div>
    <div id="content">

      <div style="display: flex; margin-top: 30px;position: relative; z-index: 0">
        <div id="device-panel" style="border: 1px solid #979797; width: 400px; height: 300px; margin-left: 50px;">
          <vvc-voice-conf-panel></vvc-voice-conf-panel>
        </div>

        <div id="device-video-panel" style="border: 1px solid #979797; width: 400px; height: 300px; margin-left: 50px;">
          <vvc-video-conf-panel></vvc-video-conf-panel>
        </div>

      </div>


    </div>
  </div>
  <div id="side-content" [ngClass]="{ open: showContactBar }">
    <div id="contact-bar">
      <div id="customer-list" *ngIf="!selectedCustomerId">
        <div id="customer-list-head">
          Customers
        </div>
        <div *ngFor="let customerId of customerIds"
             (click)="showDetail(customerId)"
             class="customer-card">
          <div class="avatar-slot">
            <cv-avatar [name]="customersInfo[customerId].nickname" size="medium"></cv-avatar>
            <span *ngIf="customersInfo[customerId].online" class="is-online"></span>
          </div>
          <div class="content-slot">
            <div class="name-slot">{{customersInfo[customerId].nickname}}</div>
            <div class="description-slot" *ngIf="!lastMessageByCustomer[customerId].message"><cv-tt tr="CUSTOM.INCOMING_REQUEST"></cv-tt></div>
            <div class="description-slot" *ngIf="lastMessageByCustomer[customerId].message">
              {{lastMessageByCustomer[customerId].message}}
            </div>
          </div>
          <div class="notification-slot">
            <div class="time-ago-slot">{{lastMessageByCustomer[customerId].ts | timeAgo}}</div>
            <div class="marker-slot">
              <span class="marker" *ngIf="isNewMessage(customerId)"></span>
            </div>
          </div>
        </div>
      </div>
      <div id="customer-detail" [ngClass]="{ show: selectedCustomerId && selectedCustomerId === loadedCustomer.customerId }">
        <div class="detail-slot show">
          <div class="media-slot"
               [ngClass]="{ show: hasVideo(loadedCustomer.contactId), 'fullscreen': isVideoFullScreen }">
            <vvc-video-default [contactId]="loadedCustomer.contactId"
                               [isFullScreen]="isVideoFullScreen"
                               [showHangup]="false"
                               [showRecButton]="false"
                               [showMoreButton]="false"
                               (minimize)="unsetFullScreen($event, false)"
                               (maximize)="setFullScreen($event, true)"></vvc-video-default>
          </div>
          <div class="contact-bar">
            <div class="back" (click)="showList()"><cv-icon name="cv-back" size="large"></cv-icon></div>
            <div class="avatar">
              <cv-avatar [name]="loadedCustomer.nickname" size="medium"></cv-avatar>
            </div>
            <div class="info">
              <div class="info-name">{{loadedCustomer.nickname}}</div>
              <div class="info-descr"><span [title]="loadedCustomer.contactId">VISIT CLIENT PROFILE</span></div>
            </div>
            <div class="actions">
              <vvc-media-button media="Video"
                                [contactId]="loadedCustomer.contactId"
                                [offer]="videoOfferUpgrade"></vvc-media-button>
              <vvc-hangup-button *ngIf="hasVideo(loadedCustomer.contactId)"
                  [contactId]="loadedCustomer.contactId"></vvc-hangup-button>
            </div>
          </div>
          <div class="chat-area">
            <vvc-chat [ref]="'ref-' + loadedCustomer.customerId"

                      [campaignId]="outboundOptions.campaignId"
                      [entryPointId]="outboundOptions.entryPointId"
                      [customerToken]="loadedCustomer.customerToken"

                      [contactId]="loadedCustomer.contactId"
                      [convId]="loadedCustomer.convId"
                      [previousConvIds]="loadedCustomer.previousConvIds"
                      (vvcContactIdChange)="contactIdChange($event, loadedCustomer.customerId)"
            ></vvc-chat>
          </div>
        </div>
      </div>
      <div id="incoming-area" *ngIf="onIncomingOffer">
        <vvc-media-upgrade [contactId]="loadedCustomer.contactId"
                           [user]="customersInfo[loadedCustomer.customerId]"
                           [offer]="lastMediaOffer"
                           (decline)="declineOffer($event, selectedCustomerId, contactByCustomer[selectedCustomerId])"
                           (accept)="acceptOffer($event, loadedCustomer.customerId, loadedCustomer.contactId)"></vvc-media-upgrade>
      </div>
    </div>
  </div>
</div>

<vvc-ad-core #adCore (vvcEvents)="vivochaEvent($event)"></vvc-ad-core>




