* { box-sizing: border-box }
body { margin: 0; padding: 0;}
#appWrap {
  box-sizing: border-box;
  border: 2px solid orange;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;

}
.selected {
  display: flex;
}
.hide {
  display: none;
}

